ul,
ol {
    list-style: none;
    padding-left: 0;
    margin: 0;
}

a {
    text-decoration: none; /* 밑줄 제거 */
    color: inherit; /* 부모 요소의 글자색을 상속 */
}

#app {
    display: flex;
    flex-direction: column;
    min-height: 100vh; /* 전체 화면의 높이 */
}

#content {
    flex: 1; /* Content 영역이 남은 공간을 차지하게 만듦 */
    padding: 20px;
}

#footer {
    background: #1a1a1a;
    color: #fff;
    text-align: center;
    padding: 20px;
    margin-top: auto; /* 푸터를 화면 하단에 붙이기 */
}

/* ----------------------------------- 헤더 ----------------------------------- */
#header {
    width: 100%;
    height: 100px; /* 최대 높이 100px */
    position: fixed;
    top: 0;
    padding: 30px;
    z-index: 10;
    background: #1a1a1a;
    box-sizing: border-box; /* 패딩을 포함한 전체 높이를 100px로 제한 */
}

/* 헤더 - 로고 시작*/
#header .logo {
    width: 150px;
    height: 100%;
    float: left;
    z-index: 9;
    position: relative;
}

#header .logo a {
    display: block;
    width: 100%;
    height: 100%;
}

#header .logo a img {
    width: 115px;
    height: 40px;
    object-fit: contain;
}
/* 헤더 - 로고 끝*/

/* 헤더 - 메인메뉴 시작*/
@media (max-width: 1400px) {
    #header nav {
        width: auto;
    }
}

#header nav .main_menu {
    width: 100%;
}

#header nav .main_menu > li {
    width: auto;
    display: inline-block; /**항목 가로 배치*/
    margin: 0 30px 0 0;
    position: relative;
}

#header nav .main_menu > li > a {
    display: block;
    width: auto;
    height: 100%;
    font-size: 16px;
    position: relative;
    color: #fff;
    text-decoration: none;
    cursor: pointer;
}

#header .open_menu {
    position: fixed;
    width: 30px;
    height: 30px;
    right: 30px;
    top: 30px;
    z-index: 11;
    cursor: pointer;
    z-index: 9;
}

#header .open_menu > div:nth-child(1) {
    top: 0;
}
#header .open_menu > div:nth-child(2) {
    top: 50%;
    transform: translateY(-50%);
}

#header .open_menu > div:nth-child(3) {
    bottom: 0;
}

#header .open_menu > div {
    width: 30px;
    height: 4px;
    border-radius: 2px;
    background: #fff;
    position: absolute;
    transition: 0.5s;
}

#footer {
    background: #1a1a1a;
}

.contact {
    width: 1400px;
    margin: 0 auto;
    padding: 50px 0;
}

.contact_con {
    width: 50%;
    float: left;
    border-right: 1px solid #727171;
}

.contact_con .contact_info li div img {
    width: 20px;
}

#content {
    flex: 1;
    padding: 20px;
    padding-top: 130px; /* 헤더의 높이 100px + 30px 패딩을 고려하여 여백 추가 */
    background: #1a1a1a;
}

.menu_tab {
    display: flex;
    flex-direction: row;
}

.tab_item {
    display: block;
    line-height: 28px;
    padding: 5px 15px;
    border-radius: 30px;

    /* background: #39e269; */
    color: #fff;
    font-weight: bold;
    border: 1px solid #fff;
}

.tab_item.active {
    background: #39e269;
}
