ul,
ol {
    list-style: none;
    padding-left: 0;
    margin: 0;
}

button {
    background: none;
    border: none;
    padding: 0;
    margin: 0;
    font: inherit;
    color: inherit;
    cursor: pointer;
    outline: none;
}

a {
    text-decoration: none;
    color: inherit;
}
